<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- --------- UNICONS ---------- -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- --------- CSS ---------- -->
    <link rel="stylesheet" th:href="@{/Css/index.css}">

    <!-- --------- FAVICON ---------- -->
    <link rel="shortcut icon" th:href="@{/Images/pngwing.com.png}" type="image/x-icon">

    <title>Portfolio</title>
</head>
<body>
   <div class="container">
    <!-- --------------- HEADER --------------- -->
      <nav id="header">
        <div class="nav-logo">
            <a href="/"><p class="nav-name" >SAMEERODDIN</p></a>
        </div>
        <div class="nav-menu" id="myNavMenu">
            <ul class="nav_menu_list">
                <li class="nav_list">
                    <a href="#home" class="nav-link active-link">Home</a>
                    <div class="circle"></div>
                </li>
                <li class="nav_list">
                    <a href="#Skills" class="nav-link">Skills</a>
                    <div class="circle"></div>
                </li>
                <li class="nav_list">
                    <a href="#projects" class="nav-link">Projects</a>
                    <div class="circle"></div>
                </li>
                <li class="nav_list">
                    <a href="#contact" class="nav-link">Contact</a>
                    <div class="circle"></div>
                </li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn" onclick="downloadCv()">Download CV<i class="uil uil-file-alt"></i></button>
        </div>
        <div class="nav-menu-btn">
            <i class="uil uil-bars" onclick="myMenuFunction()"></i>
        </div>
      </nav>


    <!-- -------------- MAIN ---------------- -->
    <main class="wrapper">
       <!-- -------------- FEATURED BOX ---------------- -->
       <section class="featured-box" id="home">
          <div class="featured-text">
            <div class="featured-text-card">
                <span>Sameeroddin Kazi</span>
            </div>
            <div class="featured-name">
                <p>I'm <span class="typedText"></span></p>
            </div>
            <div class="featured-text-info">
                <p>Passionate Java Developer skilled in crafting enterprise applications with expertise in Java, Spring Boot, and microservices. Proven track record in Agile methodologies, adept at RDBMS (MySQL) and NoSQL (MongoDB). Strong problem-solving, collaborative, and committed to high-quality software solutions. Specializes in efficient Spring Boot Microservices and adeptly integrates engaging user interfaces using HTML, CSS, and JavaScript. Dedicated to continuous improvement and staying at the forefront of technology trends.</p>
            </div>
            <div class="featured-text-btn">
                
                <button class="btn" onclick="downloadCv()">Download CV <i class="uil uil-file-alt"></i></button>
            </div>
            <div class="social_icons">
                <a href="http://www.linkedin.com/in/sameeroddin-kazi"><div class="icon"><i class="uil uil-linkedin-alt" ></i></div></a>
                <a href="https://github.com/S7M1R"><div class="icon"><i class="uil uil-github-alt"></i></div></a>
                <a href="https://x.com/SameeroddinKazi?t=01cXHMrwjsR8M9wyQDZbRQ&s=09"><div class="icon"><i class="uil uil-twitter-alt"></i></div></a>
                <a href="https://wa.me/+91-7620338237"><div class="icon"><i class="uil uil-whatsapp"></i></div></a>
            </div>
          </div>
          <div class="featured-image" id="im">
            <div class="image">
                <img th:src="@{/Images/sk.jpg}" alt="avatar">
            </div>
          </div>
          <div class="scroll-icon-box">
            <a href="#Skills" class="scroll-btn">
                <i class="uil uil-mouse-alt"></i>
                <p>Scroll Down</p>
            </a>
          </div>

       </section>
       <!-- -------------- Skills BOX ---------------- -->
       <section class="section" id="Skills">
          <div class="top-header">
            <h1>Skills</h1>
          </div>
          <div class="row">
            <div class="col">
                <div class="skills-box">
                    <div class="skills-header">
                        <h3>Frontend</h3>
                    </div>
                    <div class="skills-list">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Jsp - Jstl</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-header">
                        <h3>Backend</h3>
                    </div>
                    <div class="skills-list">
                        <span>Java SDK 1.8, SDK 17</span>
                        <span>OOPS</span>
                        <span>J2ee</span>
                        <span>JDBC</span>
                        <span>jsp Servlet</span>
                        <span id="sp">Spring Boot (Embedded-Tomcat)</span>
                        <span>Spring Security</span>
                        <span>Spring MVC Maven</span>
                        <span>Spring Boot Microservices</span>
                        <span>RESTful Webservices</span>
                        <span>Spring Websocket</span>
                        <span>Spring Actuator</span>
                        <span>Apache Kafka</span>
                        <span>Hibernate Jpa</span>
                        <span>REST api</span>
                        <span>Git & Github</span>
                        <span>Agile (Scrum & Kanban)</span>
                        <span>JIRA</span>
                        <span>Debugging & TrubleShooting</span>
                        <span>White Box Testing</span>
                        <span>Junit</span>
                        <span>Begginer AWS</span>
                        <span>Begginer CI/CD</span>
                        <span>Grafana</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-header">
                        <h3>Database</h3>
                    </div>
                    <div class="skills-list">
                        <span>MySQL</span>
                        <span>MongoDB</span>
                    </div>
                </div>
            </div>
          </div>
       </section>

       <!-- -------------- PROJECT BOX ---------------- -->

       <section class="section" id="projects">
          <div class="top-header">
              <h1>Projects</h1>
          </div>
          <div class="project-container">
            <div class="project-box">
                <i class="uil uil-medkit"></i>
                <h3>Health App</h3>
                <label>Healthcare Services Application</label>
                <button class="btn-project" onclick="HealthServicesView()">View More</button>
            </div>
            <div class="project-box">
                <i class="uil uil-plane-departure"></i>
                <h3>Flyo</h3>
                <label>Flight Reservation Application</label>
                <button class="btn-project">View More</button>
            </div>
            <div class="project-box">
                <i class="uil uil-estate"></i>
                <h3>EstateX</h3>
                <label>Real-Estate & Property solutions</label>
                <button class="btn-project">View More</button>
            </div>
            <div class="project-box">
                <i class="uil uil-comments"></i>
                <h3>SecureChat</h3>
                <label>Real-Time Chatting Application</label>
                <button class="btn-project">View More</button>
            </div>
            <div class="project-box">
                <i class="uil uil-blogger-alt"></i>
                <h3>Blog Plus</h3>
                <label>Blogging Services Application</label>
                <button class="btn-project">View More</button>
            </div>
            <div class="project-box">
                <i class="uil uil-clouds"></i>
                <h3>WeatherUp</h3>
                <label>Weather Update Application</label>
                <button class="btn-project">View More</button>
            </div>
          </div>
          
       </section>

       <!-- -------------- CONTACT BOX ---------------- -->

       <section class="section" id="contact">
          <div class="top-header">
            <h1>Get in touch</h1>
            <span>Ready to turn your vision into reality? Let's get started on your next big idea.</span>
          </div>
          <div class="contact_section">
            <div class="row">
             <div class="col">
                <div class="contact-info">
                    <h2>Find Me <i class="uil uil-corner-right-down"></i></h2>
                    <p><i class="uil uil-envelope"></i>Email: contact.sameeroddinkazi@gamil.com</p>
                    <p><i class="uil uil-phone"></i>Cantact No: +91 7620338237</p>
                </div>
             </div>
             <div class="col">
                <form action="sendEmail" method="post">
                    <div class="form-control">
                        <div class="form-inputs">
                            <input type="text" class="input-field" placeholder="Name" name="Name">
                            <input type="email" class="input-field" placeholder="Email" name="Email">
                        </div>
                        <div class="text-area">
                            <textarea placeholder="Message" name="Message"></textarea>
                        </div>
                        <div class="form-button">
                            <button class="btn" type="submit">Send <i class="uil uil-message"></i></button>
                        </div>
                    </div>
                </form>
             </div>
          </div>
          </div>
       </section>

    </main>


    <!-- --------------- FOOTER --------------- -->
    <footer>
        <div class="top-footer">
            <p>Sameeroddin Kazi</p>
        </div>
       
        <div class="footer-social-icons">
                <a href="http://www.linkedin.com/in/sameeroddin-kazi"><div class="icon"><i class="uil uil-linkedin-alt" ></i></div></a>
                <a href="https://github.com/S7M1R"><div class="icon"><i class="uil uil-github-alt"></i></div></a>
                <a href="https://x.com/SameeroddinKazi?t=01cXHMrwjsR8M9wyQDZbRQ&s=09"><div class="icon"><i class="uil uil-twitter-alt"></i></div></a>
                <a href="https://wa.me/+91-7620338237"><div class="icon"><i class="uil uil-whatsapp"></i></div></a>
        </div>
            
        <div class="bottom-footer">
            <p>Copyright &copy; <a href="#home" style="text-decoration: none;">Sameeroddin Kazi</a> - All rights reserved</p>
        </div>
    </footer>

    </div>




    <!-- ----- TYPING JS Link ----- -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

       <!-- ----- SCROLL REVEAL JS Link----- -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- ----- MAIN JS ----- -->
   <script th:src="@{/Javascript/main.js}"></script>
</body>
</html>


